<p>
  hello {{name}}
</p>
<p>
  <!-- "The sum of 1 + 1 is 2" -->
  The sum of 1 + 1 is {{1 + 1}}
</p>
<p>
  <!-- "The sum of 1 + 1 is 2" -->
  The sum of 1 + 1 is {{ getVal()}}
</p>
<p>
  <!-- binding src value -->
  <img src="{{imgUrl}}" style="height:30px">
</p>
<hr>

<!--# 表示宣告的heroInput變數給dom使用 -->
<!-- keyup 觸發事件 -->
heroInput:
<input #heroInput (keyup)="keyup(heroInput.value)">
<div>取得 values = heroInput + value:
  <span [innerHtml]="values"></span>
</div>
<div>
  Template Reference Variable: {{heroInput.value}}
</div>
<hr>
<!--event binding-->
<button (click)="say()">(click event) run sya()</button>
<button on-click="say()">on-click run say()</button>
<hr>
<div>
  keyDown event run keydown()
  <input type="text" on-keydown="keydown()" placeholder="">
</div>
<!--template reference variable -->
<div>
  <input #phone placeholder="phone number">
  <button (click)="call(phone.value)">Call(getPhoneValue)</button>
</div>
<!-- anti parttern <span>{{init()}}</span> -->