<nav>
  <a routerLinkActive="active-link" routerLink="/basic/parent">Basic home!</a>
  <a routerLinkActive="active-link" routerLink="/basic/child1">go to Basic Child - 1</a>
  <a routerLinkActive="active-link" routerLink="/basic/child2">go to Basic Child - 2</a>
  <a routerLinkActive="active-link" routerLink="/dynamic/parent">go to dynamic route demo</a>
  <a routerLinkActive="active-link" routerLink="/dynamic2/parent">go to dynamic2 route demo</a>
  <a routerLinkActive="active-link" routerLink="/dynamic3/parent" [queryParams]="{ page: 99 }">go to dynamic3 route demo use queryParams</a>
</nav>
<div>
  <h2>Home!!!</h2>
</div>