<h3>Template Driven template</h3>
<!-- FormModule 會在form tag使用ngForm Directive -->
<!-- novalidate : 是angular 內建的direcitve，關閉html原生的type檢核機制-->
<form novalidate  ref-f="ngForm" (ngSubmit)="onSubmit(f)">
    <div>
      <span>Full name</span>
      <input
        type="text"
        name="name"
        ngModel
        required
        pattern="[a-zA-Z ]*" 
        placeholder="Your name">
    </div>
    <!-- ngModelGroup 也是directive ,只限於用在form tag -->
    <div ngModelGroup="emailGroup"  #emailGroup="ngModelGroup">
      <div>
        <span>Email address</span>
        <input
          type="email"
          name="email"
          ngModel
          email="true"
          placeholder="Your email address">
      </div>
      <div>
        <span>Confirm address</span>
        <input
          type="email"
          name="confirm"
          ngModel
          required
          email="true"
          placeholder="Confirm your email address">
      </div>
    </div>
    <button type="submit" [disabled]="f.invalid">送出</button>
  </form>
  <div>
  <div>
    <h3>ngModelGroup 顯示</h3>
    <div>{{emailGroup.value | json}}</div>
  </div>
  <div>
      <h3>User Model 顯示</h3>
      <!-- user model 未綁定from -->
      model: {{ user | json }}  <br/>
    </div>
  <div>
    <h3>Form Model顯示</h3>
  <div>
      ngForm: {{ f.value | json }} <br/>
  </div>    
 
  <div>
     <!-- 值是否符合正確查核 -->
     valid : {{f.valid}} <br/>
     invalid : {{f.invalid}} <br/>
     <!-- 值是有改變 -->
     dirty : {{f.dirty}} <br/>
     pristine :{{f.pristine }}<br/>
     <!-- 表單是否有被focus -->
     touched:{{f.touched}} <br/>
     untouched:{{f.untouched}}
  </div>
</div>
</div>