<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<!-- component -->
<!-- <app-component-demo-1></app-component-demo-1> -->
<!-- <app-component-demo-2></app-component-demo-2> -->
<!-- <app-component-demo-3></app-component-demo-3> -->
<!-- <app-component-demo-4></app-component-demo-4> -->

<!-- directive -->
<!-- <app-directive-demo-1></app-directive-demo-1> -->
<!-- <app-directive-demo-2></app-directive-demo-2> -->

<!-- pipe -->
<!-- <app-pipe-demo-1></app-pipe-demo-1> -->
<!-- <app-pipe-demo-2></app-pipe-demo-2> -->

<!-- form -->
<!-- <app-form-demo-1></app-form-demo-1> -->
<!-- <app-form-demo-2></app-form-demo-2> -->
<!-- <app-form-demo-3></app-form-demo-3> -->
<!-- <app-form-demo-4></app-form-demo-4> -->

<!-- service -->
<!-- <app-service-demo-1></app-service-demo-1> -->
<app-service-demo-2></app-service-demo-2>
<!-- app-severvice-demo-3 是子組件所以無法使用 -->
<!-- <app-service-demo-3></app-service-demo-3> -->

<!-- 有di設計模式的service -->
<!-- <app-service-di></app-service-di> -->

<!-- route -->
<!-- <router-outlet></router-outlet> -->