<p>service-demo-2 works!</p>

<h2>get 正常版</h2>
<table border=1 align="center">
  <tr>
    <th>ID</th>
    <th>TITLE</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{ item.userId }}</td>
    <td>{{ item.title }}</td>
  </tr>
</table>

<h2>get pipe async</h2>
<table border=1 align="center">
  <tr>
    <th>ID</th>
    <th>TITLE</th>
  </tr>
  <tr *ngFor="let item of asyncItems | async">
    <td>{{ item.userId }}</td>
    <td>{{ item.title }}</td>
  </tr>
</table>

<h2>get Promise 版</h2>
<table border=1 align="center">
  <tr>
    <th>ID</th>
    <th>TITLE</th>
  </tr>
  <tr *ngFor="let item of promiseItems">
    <td>{{ item.userId }}</td>
    <td>{{ item.title }}</td>
  </tr>
</table>