<div>
    <h3>新增資料</h3>
    Store Number:
    <input [(ngModel)]="addStoreId">
    <button (click)="addData()">Add Data</button>
</div>
<hr>
<div>
    <h3>搜尋指定資料</h3>
    Store Number:
    <input [(ngModel)]="searchStoreId">
    <button (click)="searchData()">Search Data</button>
</div>
<hr>
<div>
    <h3>搜尋指定資料 by Promise</h3>
    Store Number:
    <input [(ngModel)]="searchStoreId2">
    <button (click)="searchDataByPromise()">Search Data</button>
</div>
<hr>
<div>
    <h3>刪除指定資料</h3>
    Store Number:
    <input [(ngModel)]="deleteStoreId">
    <button (click)="deleteData()">Delete Data</button>
</div>
<hr>
<button (click)="callApiWhenSendParams()">Query Data when send Params</button>
<button (click)="callApiWhenSendHeader()">Query Data when send Header</button>